@charset "utf-8";
/* CSS Document */

#content{
	background-color: #1F1D5D;
	margin: 0px;
	padding: 0px;
	height: 36px;
	width: 770px;
	float: right;
}
#menuprincipal {
	width: 760px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1F1D5D;
	margin-left: 10px;


}

#menuprincipal ul, ol {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	z-index: 200;
}

.nav li a {
	background-color: #1F1D5D;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #51588F;
	text-align: left;
}
.nav li a:hover {
	background-color: #cc0000;

}	
.nav > li{
	float: left;	
	
}

.nav li ul{
	display: none;
	position:absolute;
	min-width: 150px;	
		
}
.nav li ul li a{
	background-color: #990000;	
		
}
.nav li:hover > ul{
	display: block;	
	
}

.curved { 
    -moz-border-radius:12px; /* Firefox */ 
    -webkit-border-radius:12px; /* Safari and chrome */ 
    -khtml-border-radius:12px; /* Linux browsers */ 
    border-radius:12px; /* CSS3 */ 
    behavior: url(border-radius.htc);
}
