@charset "utf-8";
.downLine {
    border-bottom-width: thin;
    border-bottom-style: dotted;
    border-bottom-color: #006600;
}

.dottedLeft {
    border-left-width: thin;
    border-left-style: dotted;
    border-left-color: #006600;
}

.dottedRight {
    border-right-width: thin;
    border-right-style: dotted;
    border-right-color: #006600;
}

.dottedBottom {
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-color: #006600;
    border-bottom-color: #006600;
    border-left-color: #006600;
}

.dottedLeftTop {
    border-left-width: thin;
    border-left-style: dotted;
    border-left-color: #006600;
    border-bottom-width: thin;
    border-bottom-style: dotted;
    border-bottom-color: #006600;
}

.dottedRightTop {
    border-right-width: thin;
    border-right-style: dotted;
    border-right-color: #006600;
    border-bottom-width: thin;
    border-bottom-style: dotted;
    border-bottom-color: #006600;
}

.menuLineTop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #669900;
    text-decoration: none;
    background-color: #FFFFFF;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #333333;
    border-right-color: #333333;
    border-left-color: #333333;
    list-style-position: inside;
    list-style-type: circle;
}

.menuLineSides {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #669900;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #333333;
    border-left-color: #333333;
}

.menuLineBottom {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #669900;
    text-decoration: none;
    background-color: #FFFFFF;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #333333;
    border-left-color: #333333;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333333;
}

.alphabetical {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bolder;
    color: #009900;
    letter-spacing: 1em;
    word-spacing: normal;
    white-space: normal;
    cursor: hand;
    text-decoration: none;
    height: 14px;
}

.dottedBox {
    border: 1px dotted #009900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    color: #333333;
    text-decoration: none;
    text-align: left;
}
